<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devops.colby.cheqit">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".JsonHandler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_main_screen">

        </activity>
        <activity android:name=".TransactionHistoryActivity" />
        <activity android:name=".TransactionAddActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AccountList" />
        <activity android:name=".AccountAddActivity" />
        <activity android:name=".AccountDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="devops.colby.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".TransactionDetailActivity" />
        <activity android:name=".ZoomedImageActivity" />
        <activity android:name=".DataActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgmBVmkuCv0U7DAyWsG0qJzmaXMfDpt7A" />


    </application>

</manifest>